@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(isAuthorized: Boolean, isManager: Boolean, lang: String = "cy")(implicit flash: Flash)
@changePassword.main("Change Password", webJarsUtil) {
  <script type="text/javascript">
          @flash.get("error").map { response =>
          toastr.error("@response")
          }
          @flash.get("success").map { response =>
          toastr.success("@response")
          }
          var Glob = {
            language: '@lang'
          }
  </script>
    @navbar(isAuthorized, isManager)
        <div class="row box-align-center">
        <div class="offset-lg-2 col-lg-4 offset-sm-2 col-sm-8 col-12 p-4">
            <div class="content-login">
                <h2 class="text-center"><span data-bind="text: vm.translate('forgotPassword')"></span></h2>
                <form action="" method="post" class="row" enctype="multipart/form-data">
                    <div class="form-group col-sm-12 col-12">
                        <input class="form-control input-box" autofocus="" autocomplete="false" type="text" id="login" name="login" required data-bind="value: vm.doctor.login">
                        <label for="login" class="label"><span data-bind="text: vm.translate('login')"></span></label>
                    </div>
                    <div class="form-group col-sm-12 col-12">
                        <input class="form-control input-box" autofocus="" autocomplete="false" type="text" id="newPass" name="newPass" required data-bind="value: vm.doctor.newPass">
                        <label for="newPass" class="label"><span data-bind="text: vm.translate('newPassword')"></span></label>
                    </div>
                    <div class="form-group col-sm-12 col-12">
                        <div class="input-group" id="show_hide_password">
                            <input class="form-control input-box" type="password" id="repeatPass" name="repeatPass" required data-bind="value: vm.doctor.repeatPass">
                            <label for="repeatPass" class="label"><span data-bind="text: vm.translate('repeatPassword')"></span></label>
                            <div class="input-group-addon mt-2" style="">
                                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="text-center">
                            <button class="btn btn-primary w-75 mt-5" data-bind="click: vm.newPassword"><span data-bind="text: vm.translate('newPassword')"></span></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  @for(_ <- 0 to 100) {
    <div class="circle-container">
      <div class="circle"></div>
    </div>
  }
}