@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String = "uz")
  @addAnalysisResult.main("Add Analysis Result", webJarsUtil) {
    <script>
            var Glob = {
              language: '@lang'
            };
    </script>
      <nav class="navbar" style="background-color: rgba(0, 64, 133, 0.5); height: 8vh;">
          <a href="/"><img src="@routes.Assets.versioned("images/favicon.png")" alt="Logo"></a>
          <a class="btn btn-outline-danger mr-2" style="position: absolute; right: 0;" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
      </nav>
    <div class="row box-align-center">
      <div class="col-lg-4 offset-lg-2 offset-sm-2 col-sm-8 p-4">
        <h2 class="text-white"><span data-bind="text: vm.translate('addAnalysisResult')"></span></h2>
        <form name="register_form" id="patient-form" class="row" action="@routes.HomeController.addAnalysisResult()" method="post" enctype="multipart/form-data">
          <div class="form-group col-sm-6 col-12">
            <input class="form-control input-box" type="text" id="id" data-bind="value: vm.patient.id" name="id" value="" onchange="this.setAttribute('value', this.value);">
            <label for="id" class="label">ID</label>
          </div>
          <div class="col-sm-6 col-12">
            <label for="capture-image" class="capture-label mt-3" data-bind="text: vm.translate('file')"></label>
            <input type="file" name="file" data-bind="value: vm.patient.file" accept="image/*" capture="camera" id="capture-image" style="display: none">
          </div>
          <div class="col-12">
            <div class="text-center">
              <button class="btn btn-success w-75 mt-5" type="submit" data-bind="click: vm.onSubmit, enable: vm.enableSubmitButton()"><span data-bind="text: vm.translate('submit')"></span></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 offset-lg-1 offset-sm-2 col-sm-8 p-4">
        <img id="show-image" class="capture-image" preload="none" autoplay="autoplay" src="#" width="100%" height="auto" alt=""/>
      </div>
    </div>
  }