@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(isAuthorized: Boolean, lang: String = "uz")(implicit flash: Flash)
  @addAnalysisResult.main("Add Analysis Result", webJarsUtil) {
    <script>
            @flash.get("error").map { response =>
            toastr.error("@response")
            }
            @flash.get("success").map { response =>
            toastr.success("@response")
            }
            var Glob = {
              language: '@lang'
            };
    </script>
    @navbar(isAuthorized)
    <div class="row box-align-center">
      <div class="col-lg-4 offset-lg-2 offset-sm-2 col-sm-8 p-4">
        <h2 class="text-white"><span data-bind="text: vm.translate('addAnalysisResult')"></span></h2>
        <form name="register_form" id="patient-form" class="row" action="@routes.HomeController.uploadAnalysisResult()" method="post" enctype="multipart/form-data">
          <div class="form-group col-sm-6 col-12">
            <input class="form-control input-box" type="text" id="id" data-bind="value: vm.patient.id" name="id" value="" onchange="this.setAttribute('value', this.value);">
            <label for="id" class="label">ID</label>
          </div>
          <div class="col-sm-6 col-12">
            <label for="capture-image" class="capture-label mt-3" data-bind="text: vm.translate('file')"></label>
            <input type="file" name="file" data-bind="value: vm.patient.file" accept="image/*" capture="camera" id="capture-image" style="display: none">
          </div>
          <div class="col-12">
            <div class="text-center">
              <button class="btn btn-success w-75 mt-5" type="submit" data-bind="click: vm.onSubmit, enable: vm.enableSubmitButton()"><span data-bind="text: vm.translate('submit')"></span></button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 offset-lg-1 offset-sm-2 col-sm-8 p-4">
        <img id="show-image" class="capture-image" preload="none" autoplay="autoplay" src="#" width="100%" height="auto" alt=""/>
      </div>
    </div>
    @for(_ <- 0 to 100) {
        <div class="circle-container">
            <div class="circle"></div>
        </div>
    }
  }