@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(isAuthorized: Boolean, isManager: Boolean, isAdmin: Boolean, lang: String = "cy")(implicit flash: Flash)
  @patients.main("Bemorlar ro'yhati", webJarsUtil) {
    <script>
            @flash.get("error").map { response =>
            toastr.error("@response")
            }
            @flash.get("success").map { response =>
            toastr.success("@response")
            }

            var Glob = {
              language: '@lang'
            };
    </script>
    @navbar(isAuthorized, isManager, isAdmin)
    <div class="container bg-secondary">
        <h2 class="text-white m-4"><span data-bind="text: vm.translate('patients')"></span></h2>
        <h4>Date Range</h4>
        <div class="row">
            <div class="col-sm-3 mr-2">
                <div class="form-group" >
                    <label class="control-label">From</label>
                    <div class='input-group date' id='datetimepicker1' data-bind="datetimepicker: startDate, dateTimePickerOptions: {format: 'MM/DD/YYYY', pickTime: false}">
                        <input type="date" class="form-control" data-bind="value: vm.patientsFilter.dateRangeFrom"/>
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group" data-bind="datetimepicker: endDate, dateTimePickerOptions: {format: 'MM/DD/YYYY', pickTime: false}">
                    <label class="col-sm-3" for="to">To</label>
                    <input id="to" class="form-control" type="date" data-bind="value: vm.patientsFilter.dateRangeTo"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-12 mb-4 mr-4">
                <label for="analysisType"></label>
                <select class="select form-control bg-white text-center" id="analysisType" autocomplete="off" data-bind="value: vm.analyseType">
                    <option SELECTED>MRT</option>
                    <option>MSKT</option>
                    <option>UZI</option>
                    <option>Laboratoriya</option>
                </select>
            </div>
            <div class="col-lg-12">
                <table class="table table-bordered table-striped table-hover table-responsive  table-active bg-white overflow-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th><span data-bind="text: vm.translate('createdAt')"></span></th>
                            <th><span data-bind="text: vm.translate('firstName')"></span></th>
                            <th><span data-bind="text: vm.translate('lastName')"></span></th>
                            <th><span data-bind="text: vm.translate('phoneNumber')"></span></th>
                            <th><span data-bind="text: vm.translate('address')"></span></th>
                            <th><span data-bind="text: vm.translate('dateOfBirth')"></span></th>
                            <th><span data-bind="text: vm.translate('analysisType')"></span></th>
                            <th><span data-bind="text: vm.translate('analysisGroup')"></span></th>
                            <th><span data-bind="text: vm.translate('smsLinkClick')"></span></th>
                            <th><span data-bind="text: vm.translate('analysisResult')"></span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: vm.patientsList()">
                        <tr>
                            <td data-bind="text: $root.vm.convertStringToDate($data.created_at)"></td>
                            <td data-bind="text: $data.firstname"></td>
                            <td data-bind="text: $data.lastname"></td>
                            <td data-bind="text: $data.phone"></td>
                            <td data-bind="text: $data.address"></td>
                            <td data-bind="text: $root.vm.convertMonthToDayDate($data.dateOfBirth)"></td>
                            <td data-bind="text: $data.analyseType"></td>
                            <td data-bind="text: $data.analyseGroup"></td>
                            <td data-bind="text: $data.smsLinkClick"></td>
                            <td>
                                    <!-- ko if: $data.analysis_image_name -->
                                <span width="50" height="50" data-bind="click: $root.vm.showFullImage($data.customer_id)">
                                    <i class="fas fa-image text-primary fa-4x ml-2"></i>
                                </span>
                                    <!-- /ko -->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <ul id="pagination"></ul>
            <!-- The Modal -->
        <div class="modal fade" id="analysisImage">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span data-bind="text: vm.translate('analysisResult')"></span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <img class="w-100" data-bind="attr: {src: '/analyse-result/' + vm.customerId()}" alt="#">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><span data-bind="text: vm.translate('closeModal')"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
  }