@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(isAuthorized: Boolean, isManager: Boolean, lang: String = "uz")(implicit flash: Flash)
@patients.main("Patients", webJarsUtil) {
    <script>
            @flash.get("error").map { response =>
            toastr.error("@response")
            }
            @flash.get("success").map { response =>
            toastr.success("@response")
            }

            var Glob = {
                language: '@lang'
            };
    </script>
    @navbar(isAuthorized, isManager)
    <div class="container bg-secondary">
        <h2 class="text-white mt-3"><span data-bind="text: vm.translate('patients')"></span></h2>
        <div class="row">
            <div class="table-responsive col-lg-12">
                <table class="table table-bordered table-striped table-hover table-active bg-white overflow-auto">
                    <thead class="thead-dark">
                        <tr>
                            <th><span data-bind="text: vm.translate('createdAt')"></span></th>
                            <th><span data-bind="text: vm.translate('firstName')"></span></th>
                            <th><span data-bind="text: vm.translate('lastName')"></span></th>
                            <th><span data-bind="text: vm.translate('phoneNumber')"></span></th>
                            <th><span data-bind="text: vm.translate('address')"></span></th>
                            <th><span data-bind="text: vm.translate('dateOfBirth')"></span></th>
                            <th><span data-bind="text: vm.translate('analysisType')"></span></th>
                            <th><span data-bind="text: vm.translate('analysisGroup')"></span></th>
                            <th><span data-bind="text: vm.translate('smsLinkClick')"></span></th>
                            <th><span data-bind="text: vm.translate('analysisResult')"></span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: vm.patients()">
                        <tr>
                            <td data-bind="text: $root.vm.convertStringToDate($data.created_at)"></td>
                            <td data-bind="text: $data.firstname"></td>
                            <td data-bind="text: $data.lastname"></td>
                            <td data-bind="text: $data.phone"></td>
                            <td data-bind="text: $data.address"></td>
                            <td data-bind="text: $root.vm.convertMonthToDayDate($data.dateOfBirth)"></td>
                            <td data-bind="text: $data.analyseType"></td>
                            <td data-bind="text: $data.analyseGroup"></td>
                            <td data-bind="text: $data.smsLinkClick"></td>
                            <td>
                                <img width="50" height="50" data-bind="attr: {src: '/img/' + $data.analysis_image_name},
                                 click: $root.vm.showFullImage($data.analysis_image_name)">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

            <!-- The Modal -->
        <div class="modal fade" id="analysisImage">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title"><span data-bind="text: vm.translate('analysisResult')"></span></h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body text-center">
                        <img class="w-100" data-bind="attr: {src: '/img/' + vm.fileName()}" alt="#">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal"><span data-bind="text: vm.translate('closeModal')"></span></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
}