@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()(implicit flash: Flash)
@patients.main("Patients", webJarsUtil) {
    <script>
            @flash.get("error").map { response =>
            toastr.error("@response")
            }
            @flash.get("success").map { response =>
            toastr.success("@response")
            }
    </script>
    <style>
            body{
                overflow-y: auto;
            }
    </style>
    @navbar()
    <input type="hidden" data-bind="click: vm.getPatients()">
    <div class="container">
        <h2 class="text-white">Patients Table</h2>
        <div class="row">
            <div class="table-responsive col-lg-12">
                <table class="table table-bordered table-striped table-hover table-active bg-white">
            <thead class="thead-dark">
                <tr>
                    <th>Ismi</th>
                    <th>Familiyasi</th>
                    <th>Telefon Raqami</th>
                    <th>Manzili</th>
                    <th>Tug'ilgan yili</th>
                    <th>Analiz turi</th>
                    <th>Analiz natijasi</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: vm.patients()">
                <tr>
                    <td data-bind="text: $data.firstname"></td>
                    <td data-bind="text: $data.lastname"></td>
                    <td data-bind="text: $data.phone"></td>
                    <td data-bind="text: $data.address"></td>
                    <td data-bind="text: $data.dataOfBirth"></td>
                    <td data-bind="text: $data.analyseType"></td>
                    <td data-bind="text: $data.analysis_image_name"></td>
                </tr>
            </tbody>
        </table>
            </div>
        </div>
    </div>
    @for(_ <- 0 to 100) {
        <div class="circle-container">
            <div class="circle"></div>
        </div>
    }
}