@import "utils/style.css";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

html {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 0.875rem;
  overflow: scroll;
  height: 100%;
}

td >span {
  cursor: pointer;
}

tr, td {
  padding: 15px 15px;
}



