@import "utils/style.css";
@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 0.875rem;
    color: #666;
    background-color: #013244;
    background-image: url("../images/background-register.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
}

.fas {
    color: limegreen;
}
.box-align-center {
    top: 20% !important;
    position: sticky;
}

.input-box {
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white !important;
}

.input-box:hover, .input-box:focus {
    border: none;
    box-shadow: none;
    background: transparent;
    border-bottom: 1px solid green;
}

.form-group {
    margin-top: 2em;
}

.form-group input:focus + label,
.form-group input:not([value=""]) + label {
    transform: translateY(-25px);
    font-size: 14px;
    color: greenyellow;
}

.move-top {
    transform: translateY(-25px);
    font-size: 14px;
    color: greenyellow !important;
}

.label {
    color: gray;
    position: absolute;
    bottom: 0;
    font-size: 15px;
    pointer-events: none;
    transition: all 0.3s ease;
}
.content-login {
    width: 100%;
    padding: 50px 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    color: #fff;
}

/* START Thank you page style */
.content-thankyou {
    width: 100%;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    text-align: center;
    align-items: center;
    color: #fff;
}

.content-thankyou a {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
/* END Thank you page style */

/* START Not found page style */
.content-notFound {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    background: rgba(255, 255, 255, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    backdrop-filter: blur(5px);
    text-align: center;
    align-items: center;
    color: #fff;
}

.content-notFound h2 {
    position: absolute;
    top: -20px;
    right: 20px;
    font-size: 11em;
    color: rgba(255, 255, 255, 0.05);
    pointer-events: none;
}

.content-notFound h3 {
    margin-top: 115px;
    font-size: 2em;
    z-index: 1;
}

.content-notFound p {
    padding: 5px;
    font-size: 1.5em;
    font-weight: 300;
}

.content-notFound a {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 15px;
    background: #fff;
    color: #000;
    border-radius: 20px;
    text-decoration: none;
    font-weight: 500;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
/* START Not Found page style */