
/*============================

 [Table of CSS]

    1. General
    2. Error
    3. Login

========================================*/

/*-----------------
	1. General
-----------------------*/

@import url('https://fonts.googleapis.com/css?family=Rubik:400,500,700');

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 0.875rem;
    color: #666;
    background-color: #fafafa;
    overflow-x: hidden;
    height: 100%;
}

/*-----------------
    2. Error
-----------------------*/

.error-box {
    background-color: #fff;
    border-radius: 5px;
    line-height: 1;
    margin: 0 auto;
    max-width: 475px;
    padding: 50px 30px 55px;
    text-align: center;
    width: 100%;
}
.error-wrapper {
    background-color: #fff;
    margin: 0;
    color: #4F5155;
    -moz-box-align: center;
    -moz-box-pack: center;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}
.error-box h1 {
    font-size: 150px;
}
.error-box p {
    margin-bottom: 30px;
}
.error-box .btn {
    text-transform: uppercase;
}

/*-----------------
	3. Login
-----------------------*/

.account-page {
    display: table-row;
    height: 100%;
    padding: 40px 0;
}
.account-title {
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 40px;
    text-align: center;
}
.account-wrapper {
    display: table;
    table-layout: fixed;
    height: 100%;
    padding: 30px;
    width: 100%;
}
.account-center {
    display: table-cell;
    vertical-align: middle;
}
.account-box {
    background-color: #fff;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding: 20px;
    width: 400px;
}
.account-logo {
    margin-bottom: 20px;
    text-align: center;
}
.account-box .form-group {
    margin-bottom: 20px;
}
.account-box a {
    color: #333;
    font-size: 14px;
}
.account-box a:hover {
    color: #009efb;
}
.account-box .form-control {
    border: 1px solid #eaeaea;
    border-radius: 0;
    box-shadow: inherit;
    font-size: 14px;
    height: 40px;
}
.account-box textarea.form-control {
    height: 130px;
}
.account-box label {
    color: #323232;
    font-size: 14px;
    font-weight: normal;
}
.account-logo img {
    max-height: 60px;
    width: auto;
}
.account-box .account-btn {
    border-radius: 50px;
    font-size: 16px;
    min-width: 150px;
    padding: 8px 30px;
    text-transform: uppercase;
}

/*-----------------
	7. Content
-----------------------*/

.page-wrapper {
    left: 0;
    margin-left: 230px;
    padding-top: 50px;
    position: relative;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.page-wrapper > .content {
    padding: 30px;
}

/*-----------------
	5. Header
-----------------------*/

.header {
    background-color: #009efb;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1039;
    height: 50px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}
.header .header-left {
    float: left;
    height: 50px;
    padding: 0 20px;
    position: relative;
    text-align: center;
    width: 230px;
    z-index: 1;
}
.logo {
    color: #fff;
    align-items: center;
    display: flex;
    height: 50px;
    justify-content: center;
}
.logo span {
    font-size: 18px;
    font-weight: 500;
    margin-left: 10px;
}
.header .navbar-nav .badge {
    position: absolute;
    right: 7px;
    top: 4px;
}
.header .dropdown-menu > li > a {
    position: relative;
}
.header .dropdown-toggle:after {
    display: none;
}
.header .has-arrow .dropdown-toggle:after {
    display: inline-block;
}
.user-menu {
    margin: 0;
    position: relative;
    z-index: 99;
}
.user-menu.nav > li > a {
    color: #fff;
    font-size: 16px;
    line-height: 50px;
    padding: 0 15px;
    height: 50px;
}
.user-menu.nav > li > a:hover,
.user-menu.nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0.2);
}
.user-menu .bg-primary {
    background-color: #009efb !important;
}

/*-----------------
	6. Sidebar
-----------------------*/

.sidebar {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    top: 50px;
    width: 230px;
    z-index: 1039;
    background-color: #fff;
    bottom: 0;
    margin-top: 0px;
    position: fixed;
    left: 0;
    transition: all 0.2s ease-in-out;
}
.sidebar.opened {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.sidebar-inner {
    height: 100%;
    transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul {
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar-menu li a {
    color: #888;
    display: block;
    font-size: 15px;
    height: auto;
    padding: 0 20px;
}
.sidebar-menu li a:hover {
    color: #009efb;
}
.sidebar-menu li.active a {
    color: #009efb;
    background-color: #f3f3f3;
}
.menu-title {
    color: #333;
    font-size: 15px;
    font-weight: 500;
    padding: 12px 20px;
}
.menu-title > i {
    float: right;
    line-height: 40px;
}
.sidebar-menu li.menu-title a {
    color: #009efb;
    display: inline-block;
    float: right;
    padding: 0;
}
.sidebar-menu li.menu-title a.btn {
    color: #fff;
    display: block;
    float: none;
    font-size: 15px;
    line-height: inherit;
    margin-bottom: 15px;
}
.sidebar-menu ul ul a.active {
    color: #009efb;
    text-decoration: underline;
}
.mobile-user-menu {
    color: #fff;
    display: none;
    font-size: 24px;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 50px;
    z-index: 10;
}
.mobile-user-menu > a {
    color: #fff;
    padding: 0;
}
.mobile-user-menu > a:hover {
    color: #fff;
}
.mobile-user-menu > .dropdown-menu > a {
    line-height: 23px;
}
.profile-rightbar {
    display: none !important;
    color: #009efb;
    font-size: 26px;
    margin-left: 15px;
}
.fixed-sidebar-right {
    position: fixed;
    top: 60px;
    right: 0;
    width: 300px;
    margin-right: -300px;
    bottom: 0;
    z-index: 101;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.mobile_btn {
    display: none;
}
.sidebar .sidebar-menu > ul > li > a span {
    transition: all 0.2s ease-in-out 0s;
    display: inline-block;
    margin-left: 10px;
    white-space: nowrap;
}
.sidebar .sidebar-menu > ul > li > a span.badge {
    color: #fff;
    margin-left: auto;
}
.sidebar-menu ul ul a {
    display: block;
    font-size: 14px;
    padding: 9px 10px 9px 50px;
    position: relative;
}
.sidebar-menu ul ul {
    background-color: #f3f3f3;
    display: none;
}
.sidebar-menu ul ul ul a {
    padding-left: 70px;
}
.sidebar-menu ul ul ul ul a {
    padding-left: 90px;
}
.sidebar-menu > ul > li {
    position: relative;
}
.sidebar-menu .menu-arrow {
    -webkit-transition: -webkit-transform 0.15s;
    -o-transition: -o-transform 0.15s;
    transition: transform .15s;
    position: absolute;
    right: 15px;
    display: inline-block;
    font-family: 'FontAwesome';
    text-rendering: auto;
    line-height: 40px;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    line-height: 18px;
    top: 15px;
}
.sidebar-menu .menu-arrow:before {
    content: "\f105";
}
.sidebar-menu li a.subdrop .menu-arrow {
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.sidebar-menu ul ul a .menu-arrow {
    top: 6px;
}
.sidebar-menu a {
    transition: unset;
    -moz-transition: unset;
    -o-transition: unset;
    -ms-transition: unset;
    -webkit-transition: unset;
}
.sidebar-menu > ul > li > a {
    padding: 12px 20px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    position: relative;
    transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul li a i {
    align-items: center;
    display: inline-flex;
    font-size: 18px;
    min-height: 24px;
    line-height: 18px;
    width: 20px;
    transition: all 0.2s ease-in-out 0s;
}
.sidebar-menu ul li.menu-title a i {
    font-size: 16px;
    margin-right: 0;
    text-align: right;
    width: auto;
}