@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(customerId: String, fileName: String)
@main("Analysis Result", webJarsUtil) {
    <nav class="navbar" style="background-color: rgba(0, 64, 133, 0.5); height: 8vh;">
        <a href="/"><img src="@routes.Assets.versioned("images/favicon.png")" alt="Logo"></a>
        <a class="btn btn-outline-danger mr-2" style="position: absolute; right: 0;" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>
    </nav>
    <div class="container" style="margin-top: 10%">
        <img src="/assets/@fileName" width="320" height="200">
        <p>Click on the button to download it:</p>
        <a href="/assets/@fileName" download="elegant_analysis_@customerId">
            <input type="button" value="Download">
        </a>
    </div>

}