@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(lang: String = "uz")
@main("Home Page", webJarsUtil) {
  <script>
          function autotab(el) {
            if (el.value.length === +el.getAttribute("maxlength")) {
              $("#p_number").focus()
            }
          }

          function autoBack(el) {
            $('html').keydown(function (event) {
              if (el.value.length === 0 && event.keyCode === 8) {
                $("#p_series").focus()
              }
            })
          }

          var Glob = {
            language: '@lang'
          };
  </script>
  <div class="row box-align-center">
    <div class="col-lg-4 offset-lg-2 offset-sm-2 col-sm-8 p-4">
      <h2 class="text-white"><span data-bind="text: vm.translate('registrationForm')"></span></h2>
      <form name="register_form" class="row">
        <div class="form-group col-sm-6 col-12">
          <input class="form-control input-box" type="text" id="first_name" data-bind="value: vm.firstName" name="first_name" value="" onchange="this.setAttribute('value', this.value);">
          <label for="first_name" class="label"><span data-bind="text: vm.translate('firstName')"></span></label>
        </div>
        <div class="form-group col-sm-6 col-12">
          <input class="form-control input-box" type="text" id="last_name" name="last_name" data-bind="value: vm.lastName" value="" onchange="this.setAttribute('value', this.value);">
          <label for="last_name" class="label"><span data-bind="text: vm.translate('lastName')"></span></label>
        </div>
        <div class="form-group col-sm-6 col-12">
          <input class="form-control input-box" type="email" id="email" name="email" data-bind="value: vm.email" value="" onchange="this.setAttribute('value', this.value);">
          <label for="email" class="label"><span data-bind="text: vm.translate('email')"></span></label>
        </div>
        <div class="form-group col-sm-6 col-12">
          <input class="form-control input-box" type="text" id="phone" name="phone" data-bind="masked: vm.phone, mask: '(99)-999-99-99'" value="" onchange="this.setAttribute('value', this.value);">
          <label for="phone" class="label"><span data-bind="text: vm.translate('phoneNumber')"></span></label>
        </div>
        <div class="form-group col-sm-12">
          <div class="row">
            <div class="col-sm-2 offset-sm-3 col-3 pr-0">
              <input class="form-control input-box" style="text-transform: uppercase;" data-bind="masked: vm.passportSeries, mask: 'SS'"
              id="p_series" maxlength="2" name="p_series" onkeydown="autotab(this)" type="text">
            </div>
            <div class="col-sm-4 col-9">
              <input class="form-control input-box" data-bind="masked: vm.passportNumber ,mask: '9999999'"
              id="p_number" name="p_number" onkeydown="autoBack(this)" type="text">
            </div>
            <label class="col-sm-6 offset-sm-3 col-12 label" id="passport_sn"><span data-bind="text: vm.translate('passportSerialNumber')"></span></label>
          </div>
        </div>
        <div class="col-12">
          <div class="text-center">
            <button class="btn btn-success w-75 mt-5" data-bind="click: vm.onSubmit"><span data-bind="text: vm.translate('register')"></span></button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal" id="thankYou" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <div class="bg-white text-center">
            <i class="fas fa-check-circle fa-10x m-2"></i>
            <h3><span data-bind="text: vm.translate('thankYou')"></span></h3>
            <h3><span data-bind="text: vm.translate('yourID')"></span>
              <span class="text-success" data-bind="text: vm.customerId()"></span>
            </h3>
            <a class="btn btn-primary mt-2" href="/"><span data-bind="text: vm.translate('closeModal')"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  @for(_ <- 0 to 100) {
    <div class="circle-container">
      <div class="circle"></div>
    </div>
  }
}