@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(isAuthorized: Boolean, isManager: Boolean, lang: String = "uz")
@main("Home Page", webJarsUtil) {
  <script>
          function autotab(el) {
            if (el.value.length === +el.getAttribute("maxlength")) {
              $("#p_number").focus()
            }
          }


          function autoBack(el) {
            $('html').keydown(function (event) {
              if (el.value.length === 0 && event.keyCode === 8) {
                $("#p_series").focus()
              }
            })
          }

          var Glob = {
            language: '@lang'
          };
  </script>
  @navbar(isAuthorized, isManager)
  @for(_ <- 0 to 100) {
    <div class="circle-container">
      <div class="circle"></div>
    </div>
  }
}