@()
<div class="header">
  <div class="header-left">
    <a href="#" class="logo">
      <i class="fa fa-heartbeat fa-2x"></i> <span>Medical</span>
    </a>
  </div>
  <a id="toggle_btn" href="javascript:void(0);"><i class="fa fa-bars text-white"></i></a>
  <a id="mobile_btn" class="mobile_btn float-left" href="#sidebar"><i class="fa fa-bars text-white"></i></a>
  <ul class="nav user-menu float-right">
    <li class="nav-item">
      <a href="#" class="nav-link"><i class="fa fa-user-plus text-white"></i>
        Registration</a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link"><i class="fa fa-user-shield text-white"></i>
        Admin</a>
    </li>
  </ul>
</div>