@()

<div class="d-flex">
  <div class="p-2 bg-dark flex-fill">
    <a class="navbar-brand" href="@routes.HomeController.index()">
       <img src="@routes.Assets.versioned("images/favicon.png")" alt="logo">
        <span class="text-white"> Smart Medical</span>
    </a>
  </div>
  <div class="p-2 bg-dark flex-fill">
    <a class="text-decoration-none d-lg-flex d-md-flex d-sm-flex d-flex d-xl-flex
     justify-content-end justify-content-md-end justify-content-sm-end" href="@routes.AuthorizationController.logout()">
        <button class="btn btn-success" type="button"><i class="fa fa-sign-out-alt"></i> Chiqish</button>
    </a>
  </div>
</div>

@*<nav class="navbar fixed-top mb-3" style="background-color: rgba(0, 64, 133, 0.5); height: 8vh;">*@
@*  <a href="/"><img src="@routes.Assets.versioned("images/favicon.png")" alt="Smart-Medical.Uz"></a>*@
@*  <a class="btn btn-outline-danger mr-2" href="/logout"><i class="fa fa-sign-out-alt"></i>Logout</a>*@
@*</nav>*@