@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
<!doctype html>
<html lang="en">
  <head>
    <title>Page Not Found!</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    @webJarsUtil.locate("css/bootstrap.min.css").css()
    @webJarsUtil.locate("css/all.css").css()
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/404.css")">
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    </head>
  <body>
    <div class="text-center box-align-center">
      <div class="text-blue">
        <h2>OOPS ERROR!!!</h2>
        <h2 class="font-weight-bold fof-text">4<i class="fa fa-heartbeat"></i>4</h2>
        <h1 class="text-black-50 mb-3">PAGE NOT FOUND</h1>
        <a href="@routes.HomeController.index()" class="btn btn-lg bg-blue rounded-btn text-white" >BACK TO HOME</a>
      </div>
    </div>
  </body>
</html>