@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()
@main("Not found", webJarsUtil) {
  <div class="row box-align-center">
    <div class="offset-lg-2 col-lg-4 offset-sm-2 col-sm-8 p-4">
      <div class="content-notFound">
        <h2>404</h2>
        <h3><i class="fa fa-exclamation-triangle"></i> Oops! Page Not Found!</h3>
        <p>The page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.</p>
        <a href="/">GO TO HOME PAGE</a>
      </div>
    </div>
  </div>
}