@import views.html.statistic.main
@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@()(implicit flash: Flash)
@statistic.main("Stats", webJarsUtil) {
    <script>
            @flash.get("error").map { response =>
            toastr.error("@response")
            }
            @flash.get("success").map { response =>
            toastr.success("@response")
            }
    </script>
    <style>
        body{
            overflow-y: auto;
        }
    </style>
    @navbar()
    <div class="container">
        <h2 class="text-white">Stats Table</h2>
        <div class="row">
            <div class="table-responsive col-lg-12">
                <table class="table table-bordered table-striped table-hover table-active bg-white">
                    <thead class="thead-dark">
                        <tr>
                            <th>Created at</th>
                            <th>Company code</th>
                            <th>Action</th>
                            <th>Login</th>
                            <th>IP Address</th>
                            <th>User Agent</th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: vm.stats()">
                        <tr>
                            <td data-bind="text: $data.created_at"></td>
                            <td data-bind="text: $data.company_code"></td>
                            <td data-bind="text: $data.action"></td>
                            <td data-bind="text: $data.login"></td>
                            <td data-bind="text: $data.ip_address"></td>
                            <td data-bind="text: $data.user_agent"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    @for(_ <- 0 to 100) {
        <div class="circle-container">
            <div class="circle"></div>
        </div>
    }
}