@import views.html.statistic.main
@this(webJarsUtil: org.webjars.play.WebJarsUtil)
@(isAuthorized: Boolean, lang: String = "uz")(implicit flash: Flash)
@statistic.main("Stats", webJarsUtil) {
    <script>
            @flash.get("error").map { response =>
            toastr.error("@response")
            }
            @flash.get("success").map { response =>
            toastr.success("@response")
            }

            var Glob = {
                language: '@lang'
            };
    </script>
    <style>
        body{
            overflow-y: auto;
        }
    </style>
    @navbar(isAuthorized)
    <div class="container">
        <h2 class="text-white"><span data-bind="text: vm.translate('statistics')"></span></h2>
        <div class="row">
            <div class="table-responsive col-lg-12">
                <table class="table table-bordered table-striped table-hover table-active bg-white">
                    <thead class="thead-dark">
                        <tr>
                            <th><span data-bind="text: vm.translate('createdAt')"></span></th>
                            <th><span data-bind="text: vm.translate('companyCode')"></span></th>
                            <th><span data-bind="text: vm.translate('action')"></span></th>
                            <th><span data-bind="text: vm.translate('login')"></span></th>
                            <th><span data-bind="text: vm.translate('ipAddress')"></span></th>
                            <th><span data-bind="text: vm.translate('userAgent')"></span></th>
                        </tr>
                    </thead>
                    <tbody data-bind="foreach: vm.stats()">
                        <tr>
                            <td data-bind="text: $root.vm.convertStringToDate($data.created_at)"></td>
                            <td data-bind="text: $data.company_code"></td>
                            <td data-bind="text: $data.action"></td>
                            <td data-bind="text: $data.login"></td>
                            <td data-bind="text: $data.ip_address"></td>
                            <td data-bind="text: $data.user_agent"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}